body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.blue {
  background-color: #709fb0;
}

.purple {
  background-color: #726a95;
}

.green {
  background-color: #a0c1b8;
}

.cream {
  background-color: #f4ebc1;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
